@charset "UTF-8";

	.box{
    	width: 100%;
    	height: auto;
    	margin: 60px auto;
	}

	.path{
    	stroke:#092951;       /*線の色*/
    	fill:#ffffff;            /*塗りつぶしの色*/
    	stroke-width:1;       /*線の太さ*/
    	stroke-dasharray: 3000; /*破線の間隔*/  
    	stroke-dashoffset:3000; /*破線の開始位置*/
		-moz-animation:DASH 2s ease-in-out .5s forwards;
		-webkit-animation:DASH 2s ease-in-out .5s forwards;
		-o-animation:DASH 2s ease-in-out .5s forwards;
		animation:DASH 2s ease-in-out .5s forwards;
		-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;
		}
		@keyframes DASH{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#092951;}
		}
		@-moz-keyframes DASH{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#092951;}
		}
		@-webkit-keyframes DASH{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#092951;}
		}
		@-o-keyframes DASH{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#092951;}
		}
		@-ms-keyframes DASHf{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#092951;}
		}
	.bd{
    	width: 85%;
    	height: auto;
    	text-align: center;
    	position: relative;
    	padding: 60px;
	}

	div.bd div {
	    background: #092951;
	     position:absolute;
	     -webkit-transition:all 1s ease-in-out;
	     transition:all 1s ease-in-out;
	}

	.active .bd div.bdT{
	    width: 100%;
	    height:1px;
	    top:0;
	    left:0;
	}
	.active .bd div.bdB{
	    width: 100%;
	    height:1px;
	    bottom:0;
	    right:0;
	}
	.active .bd div.bdR{
	    height:100%;
	    width :1px;
	    right:0;
	    top:0;
	}
	.active .bd div.bdL{
	    height:100%;
	    width :1px;
	    left:0;
	    bottom:0;
	}
	.bd div.bdT{
	    width: 0;
	}
	.bd div.bdB{
	    width: 0;
	}
	.bd div.bdR{
	    height:0;
	}
	.bd div.bdL{
	    height:0;
	}

	#illust,
	#acryll,
	#merker,
	#books,
	#textile,
	#works,
	#contact,
	#news,
	#profile {
		stroke:#00a381;       /*線の色*/
    	fill:#ffffff;            /*塗りつぶしの色*/
    	stroke-width:1;       /*線の太さ*/
    	stroke-dasharray: 3000; /*破線の間隔*/
    	stroke-dashoffset:3000; /*破線の開始位置*/
		animation: DASH_02 3s ease-in alternate forwards;
		-webkit-animation:DASH_02 3s ease-in .8s forwards;
		-o-animation:DASH_02 3s ease-in .8s forwards;
		animation:DASH_02 3s ease-in .8s forwards;
		-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;
		}
		@keyframes DASH_02{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#00a381;}
		}
		@-moz-keyframes DASH_02{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#00a381;}
		}
		@-webkit-keyframes DASH_02{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#00a381;}
		}
		@-o-keyframes DASH_02{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#00a381;}
		}
		@-ms-keyframes DASH_02{
		0%{stroke-dashoffset:3000;fill:#ffffff;}
		80%{stroke-dashoffset:2000;fill:#ffffff;}
		100%{stroke-dashoffset:0;fill:#00a381;}
	}
